@font-face {
    font-family: "DSEG7Classic-Italic";
    src: url("/assets/DSEG14Classic-Italic.0.46.0.woff2");
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
}
p {
    margin: 0;
}
a {
    color: white;
    text-decoration: none;
    text-shadow: black;
}
a:hover {
    text-decoration: underline;
}
.invisible {
    display: none;
}
.flex-item {
    flex: auto;
}
#wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.clock {
    margin: 0;
    padding: 0;
    font-family: DSEG7Classic-Italic;
    font-size: 16vw;
}
#clockContainer {
    position: fixed;
}
#clockBG {
    color: #111;
}
#clock {
    color: #ceddcf;
    text-shadow: 0 0 1.2rem lightgreen;
    top: 0;
    left: 0;
    position: absolute;
}
.clock-sec {
    font-size: 10vw;
}
#configuration {
    position: fixed;
    padding: 1rem 2rem;
    bottom: 0;
    display: flex;
    color: white;
}
#btnConfiguration {
    display: block;
    color: darkgray;
    font-size: 1.5rem;
}
#configurationBox {
    transition: opacity 0.5s;
    opacity: 0;
    padding-top: .5rem;
    margin-left: 1rem;
    color: darkgray;
}
#configurationBox.active {
    opacity: 1;
}
